h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.7em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  #about li{
    list-style:inside;
    margin-left: 40px;
    margin-bottom: 0.5em; 

  }


  #about a:hover, a:focus {
      font-weight: bold;
      border-bottom: 2px solid blue
  }


#links li{
    list-style:decimal;
    margin-left: 40px;
    margin-bottom: 0.5em; 

  }
 
  p{
    margin-bottom: 1.0em;
    margin-top: 1.0em;

    text-indent: 3ch;
  }

  .container{
    padding-top: 10px;
    padding-bottom: 30px;
  }